# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load 
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
city_type = pyber_data_df.set_index(["city"])["type"]
rides_city_type = len(pyber_data_df["type"].unique())

In [23]:
# 2. Get the total drivers for each city type - DOES THIS NEED TO BE A SERIES???
drivers_city_type = pyber_data_df.groupby("type")["driver_count"].value_counts()

drivers_city_type

type   driver_count
Rural  1               32
       7               24
       4               21
       2               17
       6               17
                       ..
Urban  17              21
       27              21
       10              19
       49              19
       50              18
Name: driver_count, Length: 70, dtype: int64

In [22]:
#  3. Get the total amount of fares for each city type
fares_city_type = pyber_data_df.groupby("type")["fare"].value_counts()

fares_city_type

type   fare
Rural  37.05    2
       51.80    2
       54.66    2
       10.11    1
       10.37    1
               ..
Urban  44.77    1
       44.86    1
       44.91    1
       44.96    1
       44.97    1
Name: fare, Length: 2052, dtype: int64

In [6]:
#  4. Get the average fare per ride for each city type. 
avg_fare_city_type = fares_city_type / rides_city_type

In [7]:
# 5. Get the average fare per driver for each city type. 
avg_fareperdriver_city_type = fares_city_type / rides_city_type

In [24]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
#     "City Type": city_type,
    "Total Rides": rides_city_type,
    "Total Drivers": drivers_city_type,
    "Total Fares": fares_city_type,
    "Average Fare": fares_city_type,
    "Average Fare (per Driver)": avg_fareperdriver_city_type})

pyber_summary_df.tail()

            Total Rides  Total Drivers  Total Fares  Average Fare  \
type
Urban 67.0            3           38.0          NaN           NaN
      69.0            3           33.0          NaN           NaN
      70.0            3           30.0          NaN           NaN
      72.0            3           31.0          NaN           NaN
      73.0            3           25.0          NaN           NaN

            Average Fare (per Driver)
type
Urban 67.0                        NaN
      69.0                        NaN
      70.0                        NaN
      72.0                        NaN
      73.0                        NaN

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')